@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:
            PingFang SC,
            -apple-system,
            BlinkMacSystemFont,
            Microsoft YaHei UI,
            Microsoft YaHei,
            Roboto,
            Hiragino Sans GB,
            Source Han Sans CN,
            Fira Sans,
            Droid Sans,
            Helvetica Neue,
            arial,
            sans-serif,
            Apple Color Emoji,
            Segoe UI Emoji,
            Segoe UI Symbol;
    user-select: none;
}

body{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Microsoft YaHei UI,Microsoft YaHei,Roboto,Hiragino Sans GB,Source Han Sans CN,Fira Sans,Droid Sans,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
    overflow: auto;
    background: #F5F5F5;
}
